.action i {
  height: 30px;
  width: 30px;
  padding: 5px;
  font-size: 17px;
  border-radius: 50%;
  background-color: #a0db8e;
  /*background-color: transparent*/
  color: #fff;
  /*border: 1px solid #222222*/
}